body {
  background-color: #121212;
  color: #999999;
}

.top-nav {
  background-color: #1e1e1e;
  color: #999999;
}

.top-nav .nav-right a {
  color: #999999;
}

.top-nav .nav-right a:hover {
  color: #ffd700;
}

.main-content {
  background-color: #1e1e1e;
  color: #999999;
}

.wizard-container {
  background-color: #2a2a2a;
  color: #990009;
}

.tree-view {
  background-color: #2a2a2a;
  color: #990009;
}

.tree-view, .wizard-container {
    padding: 2.5rem;
}

.documentation-container,
.home-container {
  background-color: #2a2a2a;
  color: #999999;
  border: 1px solid #444;
}

.documentation-container code,
.home-container code {
  background-color: #333;
  color: #999999;
}

